[data-route="resource-planning-view"] {
	.shift-btn,
	.task-btn {
		.btn {
			background-color: var(--blue-400);
			color: var(--fg-color);
			--icon-fill: var(--fg-color);
			--icon-stroke: var(--fg-color);
		}

		.user-action {
			margin: 4px 0;

			.btn-draggable {
				cursor: grab !important;
				background-color: var(--fg-color);
				border-radius: var(--border-radius-md);
				border: 1px dashed var(--gray-500);
			}
		}
	}

	.fc-event-dragging:not(.fc-event) {
		cursor: grabbing !important;
		background-color: var(--fg-color);
		border-radius: var(--border-radius-md);
		border: 1px dashed var(--gray-500);
	}
}
